
# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
# package-lock.json

*.ai
*.pdf
*.psd
npm-debug.*
build/




