.app {
  position: relative;
  text-align: center;

  background-color: $dark-blue;
  background-image: url("../img/app/app_background_mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -67px;
  background-size: 320px 462px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/app/app_background_mobile2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 618px;

    background-image: url("../img/app/app_background_tablet@1x.jpg");
    background-position: center bottom;
    background-size: 1200px 729px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/app/app_background_tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 853px;

    background-image: none;
    background-color: transparent;
  }
}

.app__wrapper {
  z-index: 10;

  @media (min-width: $tablet-width) {
    max-width: 300px;
    margin-top: 93px;
    margin-left: 20px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    max-width: 370px;
  }
}

.app__title {
  margin: 0 20px;
  margin-bottom: 28px;
  margin-top: 23px;

  font-size: 24px;
  line-height: 120%;
  font-weight: 300;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;

    margin-bottom: 30px;

    font-size: 40px;
  }
}

.app__img-wrapper {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -73px;
    right: -20px;

    width: 700px;
    height:618px;
  }

  @media (min-width: $desktop-width) {
    bottom: 110px;
    right: -806px;

    width: 1050px;
    height: 645px;
  }
}

.app__button {
  box-sizing: border-box;
  min-width: 280px;
  margin-bottom: 32px;
  padding: 15px 20px;

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $basic-white;

  background-color: $dark-blue;
  border: 3px solid $basic-white;
  border-radius: 50px;

  @media (min-width: $tablet-width) {
    position: relative;

    min-width: 300px;

    margin-bottom: 46px;
    background-color: transparent;

    z-index: 2;
  }
}

.app__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 35px;

  width: 205px;
  min-height: 56px;
  margin: 0 auto;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.app__item a {
  display: block;
}

.app__link {
  position: relative;
}

.app__link-apple::before {
  content: "";

  position: absolute;
  top: -56px;
  left: 0;

  width: 47px;
  height: 57px;
  background-image: url("../img/app/apple-logo.svg");
  background-repeat: no-repeat;
  background-position: 0 1px;

  @media (min-width: $tablet-width) {
    left: -1px;
  }
}

.app__link-android::before {
  content: "";

  position: absolute;
  top: -49px;
  left: 47px;

  width: 43px;
  height: 47px;
  background-image: url("../img/app/android-logo.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    top: -50px;
    left: 46px;
  }
}

.app__link-microsoft::before {
  content: "";

  position: absolute;
  top: -43px;
  left: 90px;

  width: 44px;
  height: 41px;
  background-image: url("../img/app/microsoft-logo.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    top: -47px;
    left: 89px;
  }
}

.app__text {
  margin: 0;
  margin-bottom: 31px;
  padding: 0 20px;

  font-weight: 300;

  @media (min-width: $tablet-width) {
    position: relative;

    padding: 0;

    font-size: 18px;

    z-index: 2;
  }
}
