.banner {
  display: none;
  margin: auto;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding-bottom: 60px;

    background-color: $smoky-color;
  }
}

.banner__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;

    padding: 0 10px;
    width: 640px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.banner__img {
  margin-top: 28px;
}

.banner__wrapper {
  box-sizing: border-box;
  width: 310px;
  padding-right: 10px;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.banner__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 96px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
    padding-top: 118px;

    font-size: 31px;

    br {
      display: none;
    }
  }
}

.banner__text {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 500px;
    margin-bottom: 30px;

    line-height: 30px;
    font-size: 18px;

    br {
      display: none;
    }
  }
}

.banner__link {
  color: $pink-color;
  text-decoration: underline;

  @media (min-width: $desktop-width ) {
    font-size: 18px;
    line-height: 30px;
  }
}
