.contacts {
  box-sizing: border-box;
  width: 320px;
  margin-bottom: 35px;
  padding-top: 42px;

  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 33px;

    width: 660px;
    margin-bottom: 3px;
    padding-top: 44px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin-bottom: 15px;
    padding-top: 0;
    row-gap: 40px;
  }
}

.contacts__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 70px;
    row-gap: 22px;
  }
}

.contacts__questions {
  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 120%;

  @media (min-width: $tablet-width) {
    width: 370px;
    margin-bottom: 0;
    padding: 0 100px;

    font-size: 40px;
    line-height: 135%;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    padding: 0 230px;

    font-size: 50px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 250px;

    &:nth-child(5) {
      margin-top: -10px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.contacts__email {
  order: 1;
}

.contacts__email a:hover {
  color: $dark-gray;

  text-decoration: underline;
}

.contacts__email a:active {
  color: $dark-gray--30;

  text-decoration: none;
}

.contacts__caption {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.contacts__info {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  color: $pink-color;
  font-style: normal;
}
