.main-footer {
  box-sizing: border-box;
  width: 320px;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    width: 660px;
    padding-top: 36px;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding-bottom: 66px;
  }
}

.main-footer__logo {
  margin-bottom: 31px;

  text-align: center;

  @media (min-width: $tablet-width) {
    align-self: flex-start;

    margin-bottom: 0;
  }
}

.main-footer__img {
  cursor: pointer;
}

.main-footer__img:hover .main-footer__svg-color {
  fill: $pink-color;
}

.main-footer__img:active .main-footer__svg-color {
  fill: $dark-gray;
}

.main-footer__img:active {
  opacity: 0.3;
}

.main-footer__img--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.main-footer__img--tablet {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  width: 178px;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -8px;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;

  cursor: pointer;

  @media (min-width: $desktop-width) {
    gap: 13px;
  }
}

.main-footer__copyright:hover path {
  fill: $dark-gray;
}

.main-footer__copyright:active path {
  opacity: 0.3;
}


.main-footer__copyright-title {
  display: inline-block;
  margin-bottom: 5px;

  font-weight: 400;

  @media (min-width: $desktop-width) {
    margin-bottom: 9px;

    font-size: 18px;
  }
}

.main-footer__copyright-academy-link {
  display: inline-block;
}

.main-footer__copyright-academy-img {
  padding-top: 1px;
}
