.main-footer {
  box-sizing: border-box;
  width: 320px;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    width: 660px;
    padding-top: 36px;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.main-footer__logo {
  margin-bottom: 31px;

  text-align: center;

  @media (min-width: $tablet-width) {
    align-self: flex-start;

    margin-bottom: 0;
  }
}

.main-footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  width: 178px;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 15px;
  }
}

.social-link {
  display: inline-block;
  width: 48px;
  height: 48px;

  border-radius: 50%;
  border: 3px solid $dark-gray--10;

  background-repeat: no-repeat;
  background-position: center center;
}


.social__link--twitter {
  background-image: url("../img/footer/twitter.svg");
}

.social__link--facebook {
  background-image: url("../img/footer/facebook.svg");
}

.social__link--youtube {
  background-image: url("../img/footer/youtube.svg");
  background-position: 19px center;
}

.copyright {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.copyright__title {
  display: inline-block;
  margin-bottom: 5px;

  font-weight: 400;
}

.copyright__academy-link {
  display: inline-block;
}

.copyright__academy-img {
  padding-top: 1px;
}
