.main-footer__logo {
  text-align: center;
}

.main-footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin: 0 auto;
  padding: 0;
  width: 178px;

  list-style: none;
}

.main-footer__social {
  display: inline-block;
  width: 48px;
  height: 48px;

  border-radius: 50%;
  border: 3px solid $dark-gray--10;

  background-repeat: no-repeat;
  background-position: center center;
}


.main-footer__social--twitter {
  background-image: url("../img/footer/twitter.svg");
}

.main-footer__social--facebook {
  background-image: url("../img/footer/facebook.svg");
}

.main-footer__social--youtube {
  background-image: url("../img/footer/youtube.svg");
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
