.main-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 320px;
  margin: auto;

  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;

    width: 1200px;

    background-image: url("../img/header/header-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 2560px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header/header-back-desktop@2x.jpg");
    }
  }
}


.main-header__wrapper {
  background-color: $dark-gray;

  @media (min-width: $desktop-width) {
    width: 100%;
    background-color: rgba($basic-black, 30%);
  }
}

.main-header__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 960px;
    margin: 0 auto;
    padding: 0 10px;

  }
}

.main-header__logo {
  width: 74px;
  height: 23px;
  margin-top: 23px;
  margin-left: 20px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;
    margin-top: 35px;
    margin-left: 20px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
    margin: 0;
  }
}
