.price {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-top: 134px;

  overflow: hidden;

  background-image: linear-gradient(-3deg, $smoky-color, $smoky-color 90%, transparent 90%, transparent);

  @media (min-width: $tablet-width) {
    width: 660px;
    padding-top: 107px;
    padding-bottom: 36px;

    background-image: linear-gradient(-3.6deg, $smoky-color, $smoky-color 88%, transparent 88%, transparent);

    @media (min-width: $desktop-width) {
      width: 1200px;
      margin-top: -21px;
      margin-bottom: 62px;
      padding-top: 161px;
      padding-bottom: 61px;

      background-image: linear-gradient(-4.7deg, $smoky-color, $smoky-color 84%, transparent 84%, transparent);
    }
  }
}

.price__wrapper {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 620px;
    margin: 0 auto;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding: 0 10px;
  }
}

.price__table {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 32px;

  border-collapse: collapse;
}

.price__thead {
  margin-bottom: -2px;

  z-index: 1;
}

.price__name {
  box-sizing: border-box;
  min-width: 278px;
  padding: 13px 20px 28px;

  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: $basic-white;

  background-color: $dark-gray;
  border-right: 2px solid $white-gray;
  border-left: 2px solid $white-gray;

  &:nth-child(2) {
    border-left: none;
    border-top-left-radius: 3px;
  }

  &:last-child {
    border-right: none;
    border-top-right-radius: 3px;
  }

  &--bestseller {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: -2px;
      width: 73px;
      height: 75px;
      overflow: hidden;
      background-image: url("../img/price/hit.svg");
      background-size: auto 73px;
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 155px;
    padding: 13px 10px 10px;
  }

  @media (min-width: $desktop-width) {
    min-width: 236px;
    padding: 16px 16px 17px;

    font-size: 18px;
    line-height: 30px;
  }
}

.price__tariff-cost {
  font-size: 18px;
  font-weight: 300;

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
  }
}

.price__tariff-empty {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  width: 154px;

  @media (min-width: $desktop-width) {
    min-width: 234px;
  }
}

.price__value {
  position: relative;

  box-sizing: border-box;
  min-width: 280px;
  padding: 15px 21px;
  padding-top: 14px;

  line-height: 30px;

  border: 2px solid $white-gray;
  background-color: $basic-white;

  @media (max-width: $mobile-width-only) {
    &:first-child {
      display: none;
    }
  }

  &--positive {
    &::before {
      content: "";

      position: absolute;
      top: 18px;
      right: 18px;

      width: 31px;
      height: 21px;

      background-image: url("../img/price/yes.svg");

      @media (min-width: $tablet-width) {
        top: 12px;
        right: 60px;
      }

      @media (min-width: $desktop-width) {
        top: 21px;
        right: 101px;
      }
    }
  }

  &--negative {
    &::before {
      content: "";

      position: absolute;
      top: 16px;
      right: 20px;

      width: 27px;
      height: 27px;

      background-image: url("../img/price/no.svg");

      @media (min-width: $tablet-width) {
        top: 8px;
        right: 63px;
      }

      @media (min-width: $desktop-width) {
        top: 17px;
        right: 104px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 154px;
    padding: 8px 15px;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    min-width: 236px;
    padding: 15px 5px 15px 23px;

    font-size: 18px;
    line-height: 30px;
  }
}

.price__value-mobile {
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    display: inline-block;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__toggles {
  display: flex;
  justify-content: center;
  gap: 16px;

  margin: 0;
  padding: 0;
  padding-bottom: 42px;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__button {
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: $dark-gray--30;

  &--current {
    border: 3px solid $dark-gray;
    background-color: $basic-white;
  }
}
