.reviews {
  box-sizing: border-box;
  width: 320px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding-top: 184px;
    padding-left: 10px;
    padding-right: 10px;


    &::before {
      content: "";

      position: absolute;
      top: -111px;
      left: 431px;
      width: 79px;
      height: 63px;

      background-image: url("../../img/reviews/quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.reviews__list {
  position: relative;
}

.reviews__item {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.reviews-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 2px;

    font-size: 24px;
  }
}

.reviews__speciality {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  line-height: 30px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  line-height: 30px;

  @media (min-width: $tablet-width) {
    order: -1;

    margin-bottom: 36px;

    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 36px;
    width: 710px;
  }
}

.reviews__toggles {
  display: flex;
  justify-content: center;
  gap: 13px;

  margin: 0;
  padding: 0;


  list-style: none;
}

.reviews__toggle {
  width: 12px;
}

