.social-link {
  position: relative;

  display: inline-block;
  width: 48px;
  height: 48px;

  border-radius: 50%;
  border: 3px solid $dark-gray--10;

  background-repeat: no-repeat;
  background-position: center center;

  &:hover {
    border-color: $dark-gray;
  }

  &:active {
    border-color: $dark-gray--10;
  }
}

.social-link::before {
  content: "";

  position: absolute;

  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
}

.social-link:active::before {
  opacity: 0.3;
}

.social__link--telegram::before {
  top: 12px;
  left: 11px;

  background-image: url("../img/footer/telegram.svg");
}

.social__link--vk::before {
  background-image: url("../img/footer/vk.svg");
}

.social__link--youtube::before {
  top: 0;
  left: 1px;

  background-image: url("../img/footer/youtube.svg");
}
