
// Использую
$basic-white: #ffffff;
$basic-black: #000000;
$dark-gray: #283645;
$dark-blue: #1D2631;

$basic-black--30: rgba(#000000, 30%);
$dark-gray--30: rgba(#283645, 30%);
$dark-gray--10: rgba(#283645, 10%);
$white-gray: #E5E5E5;
$pink-color: #D22856;

$mobile-width-only: 659px;
$tablet-width: 660px;
$tablet-width-max: 1199px;
$desktop-width: 1200px;
